body {background-color: lightgrey
}
  nav {
    height: 69px;
    background-color: #004D79;
  }
  .inline-block {
    padding: 23px;
    display: inline-block;
    color: white;
    font-size: 24px;
  }
  .heroImage {
    height: 655px;
    padding-right: 1rem;
    padding-bottom: 0rem;
  }
  #mainContent {
    background-color: #004D79;
    text-align: center;
    margin-top: -93px;
  }
  .pageHeight {
  height: 663px;
}
h1#topHeadline {
  padding-top: 80px;
  font-size: 112px;
  color: white;
}
h2#topHeadline {
  font-size: 42px;
  color: white;
}
.firstProjectImg {
  float: right;
  height: 280px;
  width: 550px;
  padding-right: 1rem;
  padding-left: 150px;
}
h1#titlepage {text-align: center;
  padding-bottom: 24px;
  padding-top: 12px;
}
.sectionBorder {
  height: 300px;
  border: 1px solid #004D79;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  margin: 20px;
}
.secondProjectImg {
  float: left;
  height: 280px;
  width: 550px;
  padding-right: 150px;
  padding-left: 1px;
}