body {background-color: #fdfdfd
}
  nav {
    height: 69px;
    background-color: #004D79;
  }
  .inline-block {
    margin: 23px;
    display: inline-block;
    color: white;
    font-size: 24px;
  }
  .heroImage {
    height: 655px;
  }
  #mainContent {
    background-color: #004D79;
    text-align: center;
    margin-top: -93px;
  }
  .pageHeight {
  height: 663px;
}
h1#topHeadline {
  padding-top: 80px;
  font-size: 112px;
  color: white;
}
h2#topHeadline {
  font-size: 42px;
  color: white;
}
.firstProjectImg {
  float: right;
  height: 340px;
  width: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
h1#titlepage {
  text-align: center;
  padding-bottom: 24px;
  padding-top: 12px;
}
.section1 {
  background-color: #004d794c;
  height: 350px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.section1 p {
position: flex;
width: 567px;
height: 101px;
padding-right: 10%;
}
.section2 {
  background-color: #00790025;
  height: 350px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.section2 p {
position: flex; 
height: 101px;
  left: 93px;
}
.secondProjectImg {
  float: left;
  height: 340px;
  width: auto;
  padding-right: 10%;
}
.section3 {
  background-color: #004d7938;
  height: 350px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.section3 p {
  position: flex;
  width: 567px;
height: 101px;
padding-right: 60%;
}